html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, code, del,
dfn, em, img, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th,
td, hr{margin:0;padding:0;font-size:100%;box-sizing: border-box;}
body{height:100%;min-height:100%;font-family:'Noto Sans Korean','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:16px;color:#737373;line-height:1.5;background:url(../images/content_bg4.png) repeat;}
h1, h2, h3, h4, h5, h6 {font-weight:normal}
ol, ul, li {list-style:none}
table {width:100%; border-collapse:collapse;border-spacing:0}
form, fieldset, iframe {display:block;border:0}
img, button {border:0 none;vertical-align:top;}
hr {height:0; display:none}
i, em, address{font-style:normal}
label, button{cursor:pointer}
blockquote, q {quotes:none}
caption, legend {overflow:hidden;visibility:hidden;position:absolute;width:0;height:0;padding:0;margin:0;font-size:0;text-indent:-100%;white-space:nowrap;z-index:-1}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;box-sizing: border-box;}
input, textarea, select, button {font-family:'Noto Sans Korean','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:16px;color:#919090;line-height:1.5;letter-spacing:0;vertical-align:middle; border:none;}
input, textarea {margin:0;padding:0;  background:none; box-sizing:border-box;}
textarea {resize:none}
a {color:#919090;text-decoration:none}
a:link, a:visited {text-decoration:none}
a:hover {text-decoration:none}
.blind{display: none;overflow: hidden;position: absolute;width: 0;height: 0;padding: 0;margin: 0; font-size: 0;line-height: 0; text-indent: -9999em;visibility: hidden;outline: none;z-index: -1;}
html,body{overflow:hidden;height:100%;}

@charset "UTF-8";



/*레이아웃*/
body {background: url(../images/wall_wide2.jpg) }
#wrap {                width: 100%;}
#header {              width: 100%;   height: 150px;  }
#nav {                 width: 100%;   height: 100px;  }
#contents {display: flex; justify-content:center; align-item:center; float: left; width: 75%;    height: 1100px; }
#aside {display: flex; justify-content:center; align-item:center; float: left;   width: 25%;    height: 620px;  }
#footer {float: left;  width: 25%;    height: 400px; }

#header:hover a{color: #fff;}
/*
#cont_cont {float: left; width: 100%; height: 200px; background: #666;}





/*
body,div {margin:0;, padding: 0;}
#wrap {                width: 100%;}
#header {              width: 100%;   height: 100px;  background: #ef6c00;}
#nav {                 width: 100%;   height: 50px;  background: #f57c00;}

#content {float: left; width: 100%;    height: 800px;  background: #fb8c00;}
#footer {float: left;  width: 100%;    height: 50px;  background: #ffa726;}
*/



/* 컨텐츠 레이아웃
#cont_1 {float: left; width: 50%; height: 500px; }
#cont_2 {float: left; width: 50%; height: 500px; }
#cont_3 {float: left; width: 50%; height: 500px; }
#cont_4 {float: left; width: 50%; height: 500px; }
#cont_nav {width: 100%; background-color: #f6fdff;}
*/


.container {width: 1200px; margin: 0 auto; height: inherit;}


/* 컨테이너 */



/* 헤더 */
.header {}
.header .header-tit {text-align: center; }
.header .header-tit h1 {text-decoration:none; font-family: 'Montserrat', sans-serif; color: #2c4659; font-size: 30px; display: inline-block; padding: 5px 20px 6px 20px; margin-top: 30px; font-weight: normal; }
.header .header-tit a  {text-decoration:none; font-family: 'Montserrat', sans-serif; color: #2c4659; font-size: 30px; display: inline-block; padding: 5px 20px 6px 20px; margin-top: 30px; font-weight: normal;}






.nav {}
.nav-tit {text-align: center; }
.nav-tit h1 {text-decoration:none; font-family: 'Montserrat', sans-serif; color: #1f4151; font-size: 18px;  margin-top: -30px; display: inline-block; font-weight: normal; }
.nav-tit a  {text-decoration:none; font-family: 'Montserrat', sans-serif; color: #1f4151; font-size: 18px;  margin-top: -30px; display: inline-block; font-weight: normal; }



/* 컨텐츠
.cont {}
.cont {overflow: hidden; padding-top: 30px; }
.cont {padding: 25px 0; text-align: left;}
.cont {margin-left: 30px; margin-right: 15px; color: #fff; background-color: #041316; color: #8ba1ab; opacity:0.75; display: inline-block; font-size: 15px; padding: 40px 40px 180px 40px; margin-top: 0px; text-transform: uppercase;}

.cont .column {position: relative; float: left; width: 289px; height: 363px; margin: 0 30px 30px 0; padding-right: 30px;}




/* 컨텐츠 40px 00px 50px 50px;*/
.cont {}
.cont {overflow: hidden; padding-top: 30px; }
.cont {padding: 25px 0; text-align: left;}
.cont {margin-left: 30px; margin-right: 15px; color: #fff; background-color: #041316; color: #8ba1ab; opacity:0.75; display: inline-block; font-size: 15px; padding: 40px 50px 50px 50px; margin-top: 0px; text-transform: uppercase; }

.cont .column {position: relative; float: left; width: 310px; height: 363px; margin: 0 60px 60px 0; padding-right: 30px;}


.cont .col1 {border-right: 0px solid #2c4659; }
.cont .col2 {border-right: 0px solid #2c4659;}
.cont .col3 {margin-right: 0; padding-right: 0;}
.cont .col4 {border-right: 0px solid #2c4659;}
.cont .col5 {border-right: 0px solid #2c4659;}
.cont .col6 {margin-right: 0; padding-right:3;}


.cont h3 {color: #8ba1ab; font-size: 20px; font-family: 'Montserrat', sans-serif; }

/*
.cont .video { max-width: 80%; display: block; margin: 20px auto; }

.cont .column .ico_img {display: block; width: 60px; height: 60px; background: url(img/icon.png); position: absolute; left: 0; top: 0;}
.cont .column .ico_tit {padding-left: 70px; font-size: 16px; color: #2c94c4;}
.cont .column .ico_desc {padding-left: 70px; border-bottom: 1px solid #d0d0d0; padding-bottom: 15px; margin-bottom: 15px;}

.cont .col1 .ico_img {background-position: 0px -240px;}
.cont .col2 .ico_img {background-position: 0px -300px;}
.cont .col3 .ico_img {background-position: 0px -360px;}
.cont .col4 .ico_img {background-position: 0px -420px;}
.cont .col5 .ico_img {background-position: 0px -480px;}
.cont .col6 .ico_img {background-position: 0px -540px;}
.cont .col1 .ico_img:hover {background-position: -60px -240px;}
.cont .col2 .ico_img:hover {background-position: -60px -300px;}
.cont .col3 .ico_img:hover {background-position: -60px -360px;}
.cont .col4 .ico_img:hover {background-position: -60px -420px;}
.cont .col5 .ico_img:hover {background-position: -60px -480px;}
.cont .col6 .ico_img:hover {background-position: -60px -540px;}
8ba1ab
*/



.aside{}
.aside {padding: 25px 0; text-align: left; }
.aside {font-family: 'Montserrat', sans-serif; margin-left: 15px; background-color: #041316; color: #8ba1ab; opacity:0.75; display: inline-block; font-size: 15px; padding: 20px 100px 20px 60px; margin-top: 0px; text-transform: uppercase;}

.aside h1 {text-decoration:none; color: #8ba1ab; font-size: 22px;  }
.aside a  {text-decoration:none; color: #8ba1ab; font-size: 13px; }









/*
.header .header-menu {text-align: right; }
.header .header-menu a {color: #fff; padding: 10px 0px 10px 13px; display: inline-block;}
.header .header-menu a:hover {color: #666;}
*/
.footer{}

.footer {padding: 25px 0px;  text-align: left;}
.footer {font-family: 'Montserrat', sans-serif; margin-left: 15px;  background-color: #041316; color: #8ba1ab; opacity:0.75; display: inline-block; font-size: 15px; padding: 20px 50px 120px 40px; margin-top: 0px; text-transform: uppercase;}
.footer ul {margin-bottom: 20px;}
.footer li {position: relative; display: inline; padding: 0 7px 0 10px;}

.footer a  {text-decoration:none; color: #8ba1ab; font-size: 15px; }
.footer address  {text-decoration:none; color: #8ba1ab; font-size: 15px; }


/*
.header .header-tit {text-align: center; }
.header .header-tit h1 {color: #fff; background-color: #4aa8d4; display: inline-block; font-size: 28px; padding: 5px 20px 6px 20px; margin-top: 40px; font-weight: normal; text-transform: uppercase;}
.header .header-tit a {display: inline-block; background-color: #2698cb; font-size: 18px; color:#fff; padding: 5px 20px 6px 20px; margin-top: -5px;}*/
