@charset "UTF-8";

/* 스킵 내비게이션
#skip {position: relative;}
#skip a {position: absolute; left: 0px; top: 0px; border: 1px solid #fff; color: #fff; background: #333; line-height: 30px; width: 200px; text-align: center;}
#skip a:active,
#skip a:focus {top: 0;}
*/

/*레이아웃*/
body {background: url(../images/wall_wide2.jpg) }
#wrap {                width: 100%;}
#header {              width: 100%;   height: 150px;  }
#nav {                 width: 100%;   height: 100px;  }
#contents {float: left; width: 75%;    height: 1100px; }
#aside {float: left;   width: 25%;    height: 620px;  }
#footer {float: left;  width: 25%;    height: 400px; }

#header:hover a{color: #fff;}
/*
#cont_cont {float: left; width: 100%; height: 200px; background: #666;}





/*
body,div {margin:0;, padding: 0;}
#wrap {                width: 100%;}
#header {              width: 100%;   height: 100px;  background: #ef6c00;}
#nav {                 width: 100%;   height: 50px;  background: #f57c00;}

#content {float: left; width: 100%;    height: 800px;  background: #fb8c00;}
#footer {float: left;  width: 100%;    height: 50px;  background: #ffa726;}
*/



/* 컨텐츠 레이아웃
#cont_1 {float: left; width: 50%; height: 500px; }
#cont_2 {float: left; width: 50%; height: 500px; }
#cont_3 {float: left; width: 50%; height: 500px; }
#cont_4 {float: left; width: 50%; height: 500px; }
#cont_nav {width: 100%; background-color: #f6fdff;}
*/


.container {width: 1200px; margin: 0 auto; height: inherit;}


/* 컨테이너 */



/* 헤더 */
.header {}
.header .header-tit {text-align: center; }
.header .header-tit h1 {font-family: 'Montserrat', sans-serif; color: #2c4659; font-size: 30px; display: inline-block; padding: 5px 20px 6px 20px; margin-top: 30px; font-weight: normal; }
.header .header-tit a  {font-family: 'Montserrat', sans-serif; color: #2c4659; font-size: 30px; display: inline-block; padding: 5px 20px 6px 20px; margin-top: 30px; font-weight: normal;}






.nav {}
.nav-tit {text-align: center; }
.nav-tit h1 {font-family: 'Montserrat', sans-serif; color: #1f4151; font-size: 18px;  margin-top: -30px; display: inline-block; font-weight: normal; }
.nav-tit a  {font-family: 'Montserrat', sans-serif; color: #1f4151; font-size: 18px;  margin-top: -30px; display: inline-block; font-weight: normal; }








/* 컨텐츠 */
.cont {}
.cont {overflow: hidden; padding-top: 30px; }
.cont {padding: 25px 0; text-align: left;}
.cont {margin-left: 30px; margin-right: 15px; color: #fff; background-color: #041316; color: #8ba1ab; opacity:0.75; display: inline-block; font-size: 15px; padding: 40px 40px 180px 40px; margin-top: 0px; text-transform: uppercase;}

.cont .column {position: relative; float: left; width: 289px; height: 363px; margin: 0 30px 30px 0; padding-right: 30px;}

.cont .col1 {border-right: 1px solid #2c4659;}
.cont .col2 {border-right: 1px solid #2c4659;}
.cont .col3 {margin-right: 0; padding-right: 0;}
.cont .col4 {border-right: 1px solid #2c4659;}
.cont .col5 {border-right: 1px solid #2c4659;}
.cont .col6 {margin-right: 0; padding-right: 0;}


.cont h3 {color: #8ba1ab; font-size: 20px; font-family: 'Montserrat', sans-serif; }

/*
.cont .video { max-width: 80%; display: block; margin: 20px auto; }

.cont .column .ico_img {display: block; width: 60px; height: 60px; background: url(img/icon.png); position: absolute; left: 0; top: 0;}
.cont .column .ico_tit {padding-left: 70px; font-size: 16px; color: #2c94c4;}
.cont .column .ico_desc {padding-left: 70px; border-bottom: 1px solid #d0d0d0; padding-bottom: 15px; margin-bottom: 15px;}

.cont .col1 .ico_img {background-position: 0px -240px;}
.cont .col2 .ico_img {background-position: 0px -300px;}
.cont .col3 .ico_img {background-position: 0px -360px;}
.cont .col4 .ico_img {background-position: 0px -420px;}
.cont .col5 .ico_img {background-position: 0px -480px;}
.cont .col6 .ico_img {background-position: 0px -540px;}
.cont .col1 .ico_img:hover {background-position: -60px -240px;}
.cont .col2 .ico_img:hover {background-position: -60px -300px;}
.cont .col3 .ico_img:hover {background-position: -60px -360px;}
.cont .col4 .ico_img:hover {background-position: -60px -420px;}
.cont .col5 .ico_img:hover {background-position: -60px -480px;}
.cont .col6 .ico_img:hover {background-position: -60px -540px;}
8ba1ab
*/



.aside{}
.aside {padding: 25px 0; text-align: left; }
.aside {font-family: 'Montserrat', sans-serif; margin-left: 15px; background-color: #041316; color: #8ba1ab; opacity:0.75; display: inline-block; font-size: 15px; padding: 20px 100px 20px 60px; margin-top: 0px; text-transform: uppercase;}

.aside h1 {color: #8ba1ab; font-size: 22px;  }
.aside a  {color: #8ba1ab; font-size: 13px; }









/*
.header .header-menu {text-align: right; }
.header .header-menu a {color: #fff; padding: 10px 0px 10px 13px; display: inline-block;}
.header .header-menu a:hover {color: #666;}
*/
.footer{}

.footer {padding: 25px 0px;  text-align: left;}
.footer {font-family: 'Montserrat', sans-serif; margin-left: 15px;  background-color: #041316; color: #8ba1ab; opacity:0.75; display: inline-block; font-size: 15px; padding: 20px 50px 120px 40px; margin-top: 0px; text-transform: uppercase;}
.footer ul {margin-bottom: 20px;}
.footer li {position: relative; display: inline; padding: 0 7px 0 10px;}

.footer a  {color: #8ba1ab; font-size: 15px; }
.footer address  {color: #8ba1ab; font-size: 15px; }


/*
.header .header-tit {text-align: center; }
.header .header-tit h1 {color: #fff; background-color: #4aa8d4; display: inline-block; font-size: 28px; padding: 5px 20px 6px 20px; margin-top: 40px; font-weight: normal; text-transform: uppercase;}
.header .header-tit a {display: inline-block; background-color: #2698cb; font-size: 18px; color:#fff; padding: 5px 20px 6px 20px; margin-top: -5px;}*/
